In [8]:
import pandas as pd

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

## objectives:

In [ ]:
objectives_list = [
    "popular languages in python",
    "popular libraries in python",
    "open source toolstabels for data science"
]

## Some of the popular languages that Data Scientists use are:

In [4]:
list = ["python", "R", "SQL"]

## Some of the commonly used libraries used by Data Scientists include:

In [5]:
ordered_list = ["pandas", "matplotlib", "scikit_learn", "numpy", "sci_py"]

## table of Data Science toolstable of Data Science tools

In [19]:
open_source_tools = ["jupyter_notebook", "visual_studio_code", "R_studio"]

table = pd.DataFrame(["jupyter_notebook", "visual_studio_code", "R_studio"],columns = ["Data Science Tools"])
table

   Data Science Tools
0    jupyter_notebook
1  visual_studio_code
2            R_studio

### Below are a few examples of evaluating arithmetic expressions in Python

In [22]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [27]:
##This will convert 200 minutes to hours by diving by 60
x = 180
print(f"{x} Mins = {int(x/60)} Hours")

180 Mins = 3 Hours

# Author:

### Bassel Farahat