In [1]:
import pandas as pd
import numpy as np
import xlrd

years = list(map(int, np.linspace(1960, 2022, int(2023 - 1960))))
years

[1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022]

In [2]:

gdp_data = pd.read_excel(r"C:\Users\SoftLaptop\Desktop\econometrics\GDP\API_NY.GDP.MKTP.CD_DS2_en_excel_v2_93.xls")
gdp_data = gdp_data[gdp_data['Data Source'] == 'Saudi Arabia']
gdp_data = gdp_data.iloc[:,4:]
gdp_data.rename(columns= {i : j for i, j in zip(gdp_data.columns, years)}, inplace= True )
gdp_data.rename(index= {208: 'GDP'}, inplace= True)
gdp_data = gdp_data.transpose()
gdp_data

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\SoftLaptop\\Desktop\\econometrics\\GDP\\API_NY.GDP.MKTP.CD_DS2_en_excel_v2_93.xls'

In [ ]:
exp_data = pd.read_excel(r"C:\Users\SoftLaptop\Desktop\econometrics\GDP\API_NE.EXP.GNFS.CD_DS2_en_excel_v2_383.xls")
exp_data = exp_data[exp_data['Data Source'] == 'Saudi Arabia']
exp_data = exp_data.iloc[:,4:]
exp_data.rename(columns= {i : j for i, j in zip(exp_data.columns, years)}, inplace= True )
exp_data.rename(index= {208 : 'EXP'}, inplace= True)
exp_data.drop(columns= 'Unnamed: 67', inplace= True)
exp_data = exp_data.transpose()

exp_data

               EXP
1960           NaN
1961           NaN
1962           NaN
1963           NaN
1964           NaN
...            ...
2018  3.149166e+11
2019  2.858599e+11
2020  1.828480e+11
2021  2.865016e+11
2022  4.458816e+11

[63 rows x 1 columns]

In [3]:
con_data = pd.read_excel(r"C:\Users\SoftLaptop\Desktop\econometrics\GDP\API_NE.CON.TOTL.CD_DS2_en_excel_v2_532.xls")
con_data = con_data[con_data['Data Source'] == 'Saudi Arabia']
con_data = con_data.iloc[:,4:]
con_data.rename(columns= {i : j for i, j in zip(con_data.columns, years)}, inplace= True )
con_data.rename(index= {208 : 'CON'}, inplace= True)
con_data.drop(columns= 'Unnamed: 67', inplace= True)
con_data = con_data.transpose()
con_data

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\SoftLaptop\\Desktop\\econometrics\\GDP\\API_NE.CON.TOTL.CD_DS2_en_excel_v2_532.xls'

In [4]:
gov_data = pd.read_excel(r"C:\Users\SoftLaptop\Desktop\econometrics\GDP\API_NE.CON.GOVT.CD_DS2_en_excel_v2_42485.xls")
gov_data = gov_data[gov_data['Data Source'] == 'Saudi Arabia']
gov_data = gov_data.iloc[:,4:]
gov_data.rename(columns= {i : j for i, j in zip(gov_data.columns, years)}, inplace= True )
gov_data.rename(index= {208 : 'GOV_EXP'}, inplace= True)
gov_data.drop(columns= 'Unnamed: 67', inplace= True)
gov_data = gov_data.transpose()
gov_data

           GOV_EXP
1960           NaN
1961           NaN
1962           NaN
1963           NaN
1964           NaN
...            ...
2018  1.997985e+11
2019  1.962583e+11
2020  2.052890e+11
2021  2.080873e+11
2022  2.309111e+11

[63 rows x 1 columns]

In [5]:

inv_data = pd.read_excel(r"C:\Users\SoftLaptop\Desktop\econometrics\GDP\API_NE.GDI.TOTL.CD_DS2_en_excel_v2_44593.xls")
inv_data = inv_data[inv_data['Data Source'] == 'Saudi Arabia']
inv_data = inv_data.iloc[:,4:]
inv_data.rename(columns= {i : j for i, j in zip(inv_data.columns, years)}, inplace= True )
inv_data.rename(index= {208 : 'INV'}, inplace= True)
inv_data.drop(columns= 'Unnamed: 67', inplace= True)
inv_data = inv_data.transpose()
inv_data

               INV
1960           NaN
1961           NaN
1962           NaN
1963           NaN
1964           NaN
...            ...
2018  2.211536e+11
2019  2.372766e+11
2020  2.033307e+11
2021  2.224563e+11
2022  2.929667e+11

[63 rows x 1 columns]

In [6]:
imp_data = pd.read_excel(r"C:\Users\SoftLaptop\Desktop\econometrics\GDP\API_NE.IMP.GNFS.CD_DS2_en_excel_v2_43867.xls")


imp_data = imp_data[imp_data['Data Source'] == 'Saudi Arabia']
imp_data = imp_data.iloc[:,4:]
imp_data.rename(columns= {i : j for i, j in zip(imp_data.columns, years)}, inplace= True )
imp_data.rename(index= {208 : 'IMP'}, inplace= True)
imp_data.drop(columns= 'Unnamed: 67', inplace= True)
imp_data = imp_data.transpose()
imp_data

               IMP
1960           NaN
1961           NaN
1962           NaN
1963           NaN
1964           NaN
...            ...
2018  2.095894e+11
2019  2.189408e+11
2020  1.821837e+11
2021  2.130158e+11
2022  2.582129e+11

[63 rows x 1 columns]

In [13]:

net_exp = pd.DataFrame(index = years, columns=['Net_exp'])
net_exp['Net_exp'] = exp_data['EXP']-imp_data['IMP']
net_exp

           Net_exp
1960           NaN
1961           NaN
1962           NaN
1963           NaN
1964           NaN
...            ...
2018  1.053272e+11
2019  6.691908e+10
2020  6.642772e+08
2021  7.348577e+10
2022  1.876687e+11

[63 rows x 1 columns]

In [14]:
df = pd.DataFrame(columns= ['GDP', "GOV_EXP", 'CON', 'INV'], index= years)
df.GDP =  gdp_data['GDP']

df['GOV_EXP'] = gov_data['GOV_EXP']
df['CON'] = con_data['CON']
df['INV'] = inv_data['INV']
df['NET_EXP'] = net_exp['Net_exp']
df['EXP'] = exp_data['EXP']
df['IMP'] = imp_data['IMP']
df

,GDP,GOV_EXP,CON,INV,NET_EXP,EXP,IMP
1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2018,8.465838e+11,1.997985e+11,5.201030e+11,2.211536e+11,1.053272e+11,3.149166e+11,2.095894e+11
2019,8.385647e+11,1.962583e+11,5.343690e+11,2.372766e+11,6.691908e+10,2.858599e+11,2.189408e+11
2020,7.342712e+11,2.052890e+11,5.302762e+11,2.033307e+11,6.642772e+08,1.828480e+11,1.821837e+11
2021,8.741561e+11,2.080873e+11,5.782140e+11,2.224563e+11,7.348577e+10,2.865016e+11,2.130158e+11
2022,1.108572e+12,2.309111e+11,6.279361e+11,2.929667e+11,1.876687e+11,4.458816e+11,2.582129e+11

In [15]:
df.to_excel('saudi.xlsx')